<div class="row">
<div class="span4">
  <p>
    <b>Name:</b>
    <%= @backfire_control.name %>
  </p>
</div>
<div class="span8">
  <p>
    <b>Description:</b>
    <%= @backfire_control.description %>
  </p>
</div>
</div>
<br/>