<h1>Rule Base Details</h1>

<p id="notice"><%= notice %></p>
<%= render 'backfire_rails/shared/show_rule_base' %>
<br/>
<%= render 'backfire_rails/backfire_queries/index' %>
<br/>
<%= render 'backfire_rails/backfire_rules/index' %>

