<h1>Rule Base</h1>

<%= render 'backfire_rails/shared/rule_base_short' %>

<h3>New Query</h3>

<%= render 'form' %>

<%= link_to 'Show', @backfire_query %> |
<%= link_to 'Back', backfire_control_path(@backfire_control) %>
